<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
      <add 
	      name="stud" 
	      connectionString="Database=./Database2/students_db.db;Integrated Security=True;"
          providerName="System.Data.SQLite" />
      <add 
	      name="StudentForm.Properties.Settings.studentConnectionString"
          connectionString="Database=./Database2/students_db.db;Integrated Security=True;"
          providerName="System.Data.SQLite" />
 </connectionStrings>
</configuration>


